form {
    top: 80%;
    display: table;
    vertical-align: middle;
    width: 60%;
    margin: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border: 5px solid #ddd;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 20%;
  }
  
  label,
  input,
  textarea {
    display: block;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h1 {
    text-align: center;
    font-size: 25px;
    background-color: #f4f4f4;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
  }